$maincolor: #f8943a;
$borderColor: #ccc;
$darkblue: #131923;
.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #373b44; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #131923, #385586); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #131923,
    #385586
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.form-container {
  height: fit-content;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: #ccc solid 1px;
  background-color: white;
}

button {
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  margin: 15px;
  font-size: 20px;
  color: white;
  border-radius: 25px;
  background-color: $maincolor;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
  }

  &:active {
  }
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    transition: all s;
  }
  &::before {
    transition: all 3s;
  }
  &::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
    transition: all 3s;
  }
}
