$cardBackground: #f5f5f5;
input {
  height: 35px;
  max-width: 80%;
  min-width: 200px;
  border: none;
  border-bottom: solid;
  margin-bottom: 5px;
  font-size: 20px;
  background-color: $cardBackground;
}

button {
  display: flex;
  width: 400px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: $cardBackground;
  margin: 10px auto;
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
  }

  &:active {
  }
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    transition: all s;
  }
  &::before {
    transition: all 3s;
  }
  &::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
    transition: all 3s;
  }
  .card {
    display: flex;
    align-items: center;
    width: 400px;
    border-radius: 5px;
    background-color: $cardBackground;
    margin: 10px auto;
    #card-icon {
      width: 20%;
      padding: 20px;
    }
    .card-title {
      font-size: 14px;
    }
    .card-text {
    }
  }
}

.cards {
  overflow: hidden;
}

.card {
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
  color: white;
  text-align: center;
  align-items: center;
  font-size: 20px;
  background-size: cover;
  background-position: center;
}

/* Flex Children */
.card > * {
  margin: 0;
  transition: transform 0.5s;
}

.card.open {
  font-size: 40px;
}

// animations
// grow
