.ChargeHoursInput-container {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.ChargeHoursInput-dash {
  color: grey;
  font-size: 10px;
  font-weight: 900;
  margin-top: 12px;
}
#remove {
  border: none;
  box-shadow: none;
  background: none;
}
