.resultsPage {
  height: 100vh;
  width: 80vw;
  position: absolute;
  margin: auto;
  bottom: 60;
  background: url('https://res.cloudinary.com/dh41vh9dx/image/upload/v1619192056/car.png') no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.billInfo {
  color: teal;
}
