$maincolor: #f8943a;
$secondarycolor: #1bbc9c;
$borderColor: #ccc;
$darkgrey: #3e3e3e;
$darkblue: #131923;

.App {
  text-align: center;
}
.info {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: $maincolor;
  othercolor: $secondarycolor;
  thirdcolor: $darkblue;
  darkgrey: $darkgrey;
  border: solid 1px, $borderColor;
  border-radius: 5px;
}
